$sidebar-background: #fc4850;
$hover-background: #b5e742;
$active-background: #fae800;

.sidebar {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  background: $sidebar-background;
  background-blend-mode: normal;
  padding: 10px;
  height: 100dvh;
  position: fixed;
  left: 0;
  top: 0;
  width: fit-content;
  .close {
    width: 100%;
    direction: rtl;
    button {
      padding: 5px 10px;
    }
  }
  .sidebar-item {
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 20px;
    align-items: center;
    margin: 4px;
    &:first-of-type {
      margin-top: 40px;
    }
    padding-left: 15px;
    color: black;
    cursor: pointer;
    padding: 10px;
    &:hover {
      background: $hover-background;
    }
  }
}

.active {
  background: $active-background;
  border-radius: 20px;
  transition: 300ms;
  scale: 1.1;
  &:hover {
    background: $active-background;
  }
}
.mobile-sidebar {
  margin-top: 25px;
  display: none;
  .sidebar {
    width: 320px;
  }
}
.desktop-sidebar {
  margin-top: 25px;
  width: fit-content;
  position: fixed;
  top: 0;
}

@media screen and (width <= 800px) {
  .mobile-sidebar {
    display: flex;
  }
  .desktop-sidebar {
    display: none;
  }
}
