<div class="card">
  <section class="flex-column b-rad chart-sec">
    <h1>Your Orders:</h1>
    <div class="card">
      <p-chart
        class="my-chart"
        type="line"
        [data]="ChartData"
        [options]="ChartOptions"
      />
    </div>
  </section>
  <section class="table">
    <table>
      <caption>
        Projects Status:
      </caption>
      <thead>
        <td>Date</td>
        <td>Name</td>
        <td>Status</td>
        <td>Oner</td>
        <td>Price</td>
      </thead>
      <tbody>
        <tr>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
        </tr>
        <tr>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="table">
    <table>
      <caption>
        In Progress Projects:
      </caption>
      <thead>
        <td>Date</td>
        <td>Name</td>
        <td>Price</td>
        <td>Status</td>
      </thead>
      <tbody>
        <tr>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
        </tr>
        <tr>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
        </tr>
        <tr>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
        </tr>
        <tr>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
        </tr>
        <tr>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
        </tr>
        <tr>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
        </tr>
        <tr>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
        </tr>
        <tr>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
        </tr>
        <tr>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
        </tr>
        <tr>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
        </tr>
        <tr>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
        </tr>
        <tr>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
        </tr>
        <tr>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
        </tr>
        <tr>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
        </tr>
        <tr>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
        </tr>
        <tr>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
        </tr>
        <tr>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
        </tr>
        <tr>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
        </tr>
        <tr>
          <td>body</td>
          <td>body</td>
          <td>body</td>
          <td>body</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
